.login {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-weight: bold;
    color: #02706B;
    font-size: 40px;
}

.icon_class>.MuiSvgIcon-root {
    color: #02706B;
}

.btnEye {
    height: 3em;
    padding: 0.5em;
    font-size: 1.165rem;
    border-width: thin;
    border-color: thistle;
    background-color: transparent;
    cursor: pointer;
    margin-left: 0.2rem;
    
}